extends layout

block content
  section
    h1 collection - #{year}
    div(class="grid-wrapper mt-50")    
      each item in workList  
        div(class="grid-item")
          a(href="/collection/detail/"+item._id)
            div(class="grid-box")
              div(class="grid-thumbnail")
                img(class="gallery-pic" src=item.titlePic)
              div(class="grid-title") 
                h3= item.title
                span= item.client
          a(href="/collection/detail/"+item._id)
            div(class="grid-title-mob")
                h3= item.title
                span= item.client

  script(src="/js/grid.min.js")

