extends layout

block content
  section
    h1(id="work-title")= workDetail.title
    if workDetail.collaborator
      h3 client: #{workDetail.client}
      h3(class="mb-30") collaborator: #{workDetail.collaborator}
    else
      h3(class="mb-30") client: #{workDetail.client}


    div(class="description mt-30 mb-20")
      p!= workDetail.description
    each item in workDetail.pic
      div(class="gallery-item")
        img(class="gallery-pic lazy" src="/img/lazy.gif" data-src=item.url)
    h4 pictures: #{workDetail.pictures}
    a(href="/collection/"+workDetail.year)
      h4 
        i(class="iconfont icon-iconarrowl") back to collection

  script(src="/js/lazyload.min.js")
  script.
    document.title = document.getElementById("work-title").innerHTML + " | INSDIM"
    
