extends layout

block content
  section
    a(href="/collection/"+workDetail.year)
      i(class="iconfont icon-iconarrowl")
      span(class="back") back to collection
    h1(id="work-title")= workDetail.title
    if workDetail.collaborator
      h3 client: #{workDetail.client}
      h3(class="mb-50") collaborator: #{workDetail.collaborator}
    else
      h3(class="mb-50") client: #{workDetail.client}


    div(class="description mt-50 mb-50")
      p!= workDetail.description
    each item in workDetail.pic
      div(class="gallery-item")
        img(class="gallery-pic lazy" src="/img/lazy.gif" data-src=item.url)
    h3(class="mt-50 mb-50") pictures: #{workDetail.pictures}


  script(src="/js/lazyload.min.js")
  script.
    document.title = document.getElementById("work-title").innerHTML + " | INSDIM"
    
