extends layout

block content
  section
    a(href="/collection/"+workDetail.year)
      i(class="iconfont icon-iconarrowl")
      span(class="back") back to collection
    h1= workDetail.title
    h3 client: #{workDetail.client}
    if workDetail.collaborator
      h3 collaborator: #{workDetail.collaborator}
    h3(class="mb-50") pictures: #{workDetail.pictures}

    div(class="description mt-50 mb-50")
      p!= workDetail.description
    each item in workDetail.pic
      div(class="gallery-item")
        img(class="gallery-pic lazy" src="/img/lazy.gif" data-src=item.url)

  script(src="/js/lazyload.min.js")
  script.
    document.title = workDetail.title + " | INSDIM"
    
