extends layout

block content
  section
    h1= __("contact")
    div(id="amap" class="map")
    h3= __("address")
    h4= __("addressDetail")
    hr
    h3= __("service")
    h4 mint@insdim.com
    hr
    h3= __("joinUs")
    h4 lin@insdim.com

  script(src="https://webapi.amap.com/maps?v=1.4.12&key=3c1d39d0b39894e0e3d96e369f24f497")
  script.

      var map = new AMap.Map('amap', {
          resizeEnable: true,
          zoom: 21,
          center: [121.421187, 31.292114],
          mapStyle: "amap://styles/dark",
          lang: 'en'
      });
      var circleMarker = new AMap.CircleMarker({
          center: [121.421187, 31.292114],
          radius: 10,
          strokeColor: 'black',
          strokeWeight: 2,
          strokeOpacity: 0.5,
          fillColor: 'rgba(12,12,12,1)',
          fillOpacity: 0.5,
          zIndex: 10,
          bubble: true,
          cursor: 'pointer',
          clickable: true
      })
      circleMarker.setMap(map)

    
