extends layout

block content
  section
    h1= __("contact")
    div(id="amap" class="map")
    h3= __("address")
    p= __("addressDetail")
    hr
    h3= __("service")
    p mint@insdim.com
    hr
    h3= __("joinUs")
    li 建筑设计师
    p 技能 AutoCAD / VectorWorks / RhinoCeros / v-ray / Affinity Suite 
    li 室内设计师
    p 技能 AUTOCAD / VECTORWORKS / V-Ray / AFFINITY SUITE
    li 产品设计师
    p 技能 RHINOCEROS / FUSION 360 / V-ray / CINEMA 4D / AFFINITY SUITE
    li 程序设计师
    p 技能 javascript / css / python / golang / affinity suite
    hr
    h3 提交简历
    p join@insdim.com
    //- li 申请表 
    //-   span
    //-     a(href="/") 点击下载 
    li 作品集  

  script(src="https://webapi.amap.com/maps?v=1.4.12&key=3c1d39d0b39894e0e3d96e369f24f497")
  script.
      var map = new AMap.Map('amap', {
          resizeEnable: true,
          zoom: 21,
          center: [121.419381,31.137107],
          mapStyle: "amap://styles/dark",
          lang: 'en'
      });
      var circleMarker = new AMap.CircleMarker({
          center: [121.419381,31.137107],
          radius: 10,
          strokeColor: 'black',
          strokeWeight: 2,
          strokeOpacity: 0.5,
          fillColor: 'rgba(12,12,12,1)',
          fillOpacity: 0.5,
          zIndex: 10,
          bubble: true,
          cursor: 'pointer',
          clickable: true
      })
      circleMarker.setMap(map)

    
