doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
    title INSDIM | A DESIGN COMPANY
    link(rel="shortcut icon",href="/img/favicon.jpg") 
    link(rel="icon",href="/img/favicon.jpg",type="image/x-icon") 
    link(rel='stylesheet', href='/css/style.min.css')
    link(rel='stylesheet', href='/css/grid.min.css')
    link(rel='stylesheet', href='/css/dark_mode.min.css')


  body
    div(id="loader" class="loader")
      div(class="spinner" id="spinner")
        div(class="double-bounce1")
        div(class="double-bounce2")
    div(class="sidebar" id="sidebar")
      a(class="sidebar-toggle toggle-close" onclick="closeSidebar()")
        i(class="menu iconfont icon-close")

      div(class="logo")
        img(src="/img/favicon.jpg" width="120" height="120" alt="")
      div(class="sidebar-links")
        a(class="sidebar-standard-links" id="news" href="/")= __("news")
        a(class="sidebar-standard-links" id="folder" onclick="toggleFolder()")= __("collection")
          i(class="iconfont icon-iconarrowr")
        a(class="sidebar-standard-links" id="about" href="/about")= __("about")
        a(class="sidebar-standard-links" id="contact" href="/contact")= __("contact")
        div(class="lang-switcher")
          a(class="sidebar-lang-switch" id="en" onclick="switchLocale('en')") en
          a(class="sidebar-lang-switch" id="zh-CN" onclick="switchLocale('zh-CN')") cn   
        div(class="sidebar-sub" id="folder-sub")
          each item in yearList
            a(class="sidebar-sub-links" id=item href="/collection/"+item) #{item} 
    

    div(class="main")
      div(class="sidebar-toggle")
        div(class="container-fluid")
          a(onclick="openSidebar()")
            i(class="menu iconfont icon-HAMBURGERMENU")
      div(class="container-fluid")
        block content
      footer
        div(class="container-fluid")
          -var thisYear = new Date().getFullYear()
          h3 COPYRIGHT © #{thisYear} INSDIM
          h4 form inside function
          h5 沪ICP备16025975号-1

  script(src="/js/loading.min.js")
  script(src="/js/public.min.js")








