extends layout

block content
  section
    h1 #{__("timeline")}
    img(src="/img/timeline.jpg" style="max-width:250px" class="mt-30")
    div(class="grid-wrapper-timeline") 
      div(class="grid-item timeline-item-container")
        h2 #{__("chiefDesigner")} - LIN
        each item in chiefDesigner 
          div(class="timeline-wrapper") 
            div(class="timeline-item")
              p #{item.time}
            div(class="timeline-item")
              if locale=='en'
                p #{item.enContent}      
              else 
                p #{item.content}  
        h2(class="mt-30") #{__("awards")}  
        each item in awards  
          div(class="timeline-wrapper") 
            div(class="timeline-item")
              p #{item.time}
            div(class="timeline-item")
              if locale=='en'
                p #{item.enContent}      
              else 
                p #{item.content}         
        h2(class="mt-30") #{__("exhibition")}  
        each item in exhibition  
          div(class="timeline-wrapper") 
            div(class="timeline-item")
              p #{item.time}
            div(class="timeline-item")
              if locale=='en'
                p #{item.enContent}      
              else 
                p #{item.content}      
      div(class="grid-item hide-mob")   
        